NEXT_PUBLIC_SUPABASE_URL=https://zabvosjuoeieiljltiad.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYnZvc2p1b2VpZWlsamx0aWFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc1ODAwNzYsImV4cCI6MjA2MzE1NjA3Nn0.8jrBn_xopRaGVDpmiWZXaPaJyp7DABe1vIX6GssOvFo
NEXT_PUBLIC_APP_URL=http://localhost:3000
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYnZvc2p1b2VpZWlsamx0aWFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc1ODAwNzYsImV4cCI6MjA2MzE1NjA3Nn0.8jrBn_xopRaGVDpmiWZXaPaJyp7DABe1vIX6GssOvFo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphYnZvc2p1b2VpZWlsamx0aWFkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzU4MDA3NiwiZXhwIjoyMDYzMTU2MDc2fQ.BnS21aSpX1OC2faGWJhRcuHPSbU8QePi1H033jnF5tQ

API_KEY=05e7db0a-0171-4683-9c71-796d2184016e
COMMERCE_CODE=597052971879
RESEND_API_KEY=re_PgafrYSJ_KLHsK2XNj1aA9zGsQCqY1zEN
EMAIL_FROM=support@cashbak.cl
ADMIN_EMAIL=cashbak.ops@gmail.com
